@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the library!</h1>
    <p>Add, remove, edit, or list the details of any book that exists or is added to the library(database).</p>
</div>
